{% macro task_navigate() %}



<!-- start navigation -->
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
		    <a class="navbar-brand" href="{{url_for('task.add')}}">创建任务</a>
	    </div>
        <div>
            <ul class="nav navbar-nav">
                <li {% if request.path == url_for('task.main') %} class="active" {%else%}{%endif%}><a href="{{url_for('task.main')}}">任务列表</a></li>
                <li {% if request.path == url_for('task.done') %} class="active" {%else%}{%endif%}><a href="{{url_for('task.done')}}">已完成</a></li>
                <li {% if request.path == '/' %} class="active" {%else%}{%endif%}><a href="#">朋友圈</a></li>
                <!--
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Java
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">jmeter</a></li>
                        <li><a href="#">EJB</a></li>
                        <li><a href="#">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="#">另一个分离的链接</a></li>
                    </ul>
                </li>
                -->
            </ul>
        </div>
	</div>
</nav>


    <!-- end navigation -->

{% endmacro %}

{% macro task_sidebar(user) %}
    <div class ="col-lg-3">
        <div class = "row">
            <h2>{{user.username}}</h2>

        </div>
        <div class = "row">
            {%if user.bio%}{{user.bio}}{%endif%}
        </div>
        <div class="row">
            {{user.count_task()}}
        </div>
        <div class="row">
            关注了{{user.following.all()|length}}，关注者{{user.follower.all()|length}}
        </div>
    </div>
{% endmacro %}