{% macro task_sidebar(user) %}
    <div class ="col-lg-3">
        <div class = "row">
            <h2>{{user.username}}</h2>

        </div>
        <div class = "row">
            {%if user.bio%}{{user.bio}}{%endif%}
        </div>
        <div class="row">
            创建了{{user.tasks.all()|length}}个任务，{{user.unfinish_task()}}个未完成 <br />
            获得了{{user.liked.all() |length }}个赞
        </div>
        <div class="row">
            关注了<a href="{{url_for('circle.following')}}">{{user.following.all()|length}}</a>，关注者<a href="{{url_for('circle.follower')}}">{{user.follower.all()|length}}</a>
        </div>
    </div>
{% endmacro %}