{% extends "base.html" %}
{% import "task/macros.html" as task_macros %}
{% block title %}{{page_title}} - {{super()}}{% endblock %}

{% block body %}

<div class="col-lg-9">
    <div class = "row">
        {{ task_macros.task_navigate() }}

        {% for task in tasks %}
            <div class="col-lg-9">
                <div class = "row">
                    <h3><a href="{{url_for('task.page',task_id=task.id)}}">{{ task.title }}</a> <small><a href="{{url_for('task.edit',task_id=task.id)}}">编辑</a></small></h3>
                    <small>计划完成时间：{{task.deadline}} {% if task.done_time %}| 完成时间：{{task.done_time}}{%endif%}
                        {% if task.is_overtime() %} | {{task.over_time() }}{%endif%}</small>

                    <p>{{ task.text }}</p>

                </div>
            </div>
            <div class="col-lg-9">
                <div class = "row">
                    {% if task.status == 0%}<input type="button" class="btn btn-success btn-xs task-done-btn" tid={{task.id}} value="确认完成">{% endif %}

                    {% if task.comment_allowed == 1 %}<input type="button" class="btn btn-default btn-xs comment_allow_btn" tid={{task.id}} comment_status="0" value="关闭评论">
                    {% else %}<input type="button" class="btn btn-default btn-xs comment_allow_btn" tid={{task.id}} comment_status="1" value="打开评论">{%endif%}

                    {% if task.status == 0 %}
                        <input type="button" class="btn btn-default btn-xs task_delete_btn" tid={{task.id}} value="删除">
                    {% endif %}
                </div>
                <div class = "row">
                    <small>
                        <input type="button" class="btn btn-default btn-xs" value="{{task.liked.all()|length}}赞" >

                        {%if not task.comment_allowed%}评论已关闭{%else%}{{ task.comments.all() | length }}个评论{%endif%}
                    </small>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{{ task_macros.task_sidebar(user=current_user) }}

{% endblock %}