{% extends "base.html" %}
{% import "task/macros.html" as macros %}
{% block title %}{{page_title}} - {{super()}}{% endblock %}

{% block body %}


<div class="col-lg-9">

    <div class = "row">
        <h3>{{page_title}}</h3>

        <form method="post" >{{form.hidden_tag()}}

            <div class="form-group">
            {{form.title.label}}{%if form.title.errors%}{% for e in form.title.errors%}<p class="help-block">{{e}}</p>{% endfor %}{% endif %}
            {{form.title(class='form-control')}}
            </div>
            <div class="form-group">
            {{form.text.label}}{%if form.text.errors%}{% for e in form.text.errors%}<p class="help-block">{{e}}</p>{% endfor %}{% endif %}
            {{form.text(class='form-control')}}
            </div>
            <div class="form-group">
            {{form.deadline.label}}{%if form.deadline.errors%}{% for e in form.deadline.errors%}<p class="help-block">{{e}}</p>{% endfor %}{% endif %}
            {{form.deadline(class="form-control",value=now) }}
            </div>
            <div class="form-group">
            {{form.public_level.label}}{%if form.public_level.errors%}{% for e in form.public_level.errors%}<p class="help-block">{{e}}</p>{% endfor %}{% endif %}
            {{form.public_level(class='radio')}}
            </div>
            <div class="form-group">
            {{form.comment_allowed.label}} {{form.comment_allowed()}}
            </div>
            <div class="form-group">
                <p>{{form.submit(class='btn btn-success btn-sm')}}</p>
            </div>
        </form>
    </div>
</div>

    {{ macros.task_sidebar(user=current_user) }}

{% endblock %}