{% extends "base.html" %}
{% import "macros.html" as main_macros %}
{% import "macros_block.html" as macros_block %}
{% block title %}{{task.title}} - {{super()}}{% endblock %}

{% block body %}
<div class="col-sm-9">

        <div class = "row">{# 任务头 #}
            <h3>{{ main_macros.task_like_mark(task,current_user) }} {#点赞模块#}{{main_macros.task_status_mark(task)}}{{ task.title }}</h3>
            <small><a href="{{url_for('people.people',username=current_user.username)}}"><img src="{{current_user.get_avatar()}}" width="20" height="20" class="img-rounded" />{{task.user.username}}</a> 创建于{{task.create_time}}，计划完成时间{{task.deadline}}{% if task.is_overtime() %}，{{task.over_time() }}{%endif%}</small>
        </div>

        <div class = "row">{# 任务内容 #}
            <p class="text-muted">{{ task.text }}</p>
        </div>


        <div class = "row">{# 功能按钮 start #}


            {#任务创建人#}
            {% if task.user.username == current_user.username %}
                <small><a href="{{url_for('task.edit',task_id=task.id)}}">编辑</a></small>
                {% if task.status !=1 %}
                    <input type="button" class="btn btn-success task-done-btn" tid={{task.id}} value="任务完成">
                {% endif %}

                {% if task.comment_allowed == 1 %}
                    <input type="button" class="btn btn-default comment_allow_btn" tid={{task.id}} comment_status="0" value="关闭评论">
                {% else %}
                    <input type="button" class="btn btn-default comment_allow_btn" tid={{task.id}} comment_status="1" value="打开评论">
                {%endif%}
            {% endif %}

        </div>{# 功能按钮 end #}

    {{macros_block.task_comment(task,comments,comment_form)}} {#评论区#}


</div>


{{ macros_block.sidebar(current_user,current_user) }}

{% endblock %}