{% extends "base.html" %}


{% block body %}

注册/登录


<div class="col-lg-12">
    <h3>登录</h3>
    <form method="post" >
        {{login_form.hidden_tag()}}
        <div class="form-groups">
            {{login_form.username.label}}{%if login_form.username.errors%}{% for e in login_form.username.errors%}<p class="help-block">{{e}}</p>{% endfor %}{% endif %}
            {{login_form.username(class='form-control')}}
        </div>
        <div class="form-groups">
            {{login_form.password.label}}{% if login_form.password.errors %}{% for e in login_form.password.errors%}<p class="help-block">{{e}}</p>{% endfor %}{% endif %}
            {{login_form.password(class='form-control')}}
        </div>
        <div class="form-groups">
            {{login_form.remember.label}}{{login_form.remember()}}
        </div>
        {{ login_form.login_submit(class="btn btn-primary") }}
    </form>
</div>


<div class="col-lg-12">
    <h3>注册</h3>
    <form method="post">
        {{register_form.hidden_tag()}}
        <div class="form-groups">
            {{register_form.username.label}}{%if register_form.username.errors%}{% for e in register_form.username.errors%}<p class="help-block">{{e}}</p>{% endfor %}{% endif %}
            {{register_form.username(class='form-control')}}
        </div>
        <div class="form-groups">
            {{register_form.password.label}}{% if register_form.password.errors %}{% for e in register_form.password.errors%}<p class="help-block">{{e}}</p>{% endfor %}{% endif %}
            {{register_form.password(class='form-control')}}
        </div>
        <div class="form-groups">
            {{register_form.password_verify.label}}{% if register_form.password_verify.errors %}{% for e in register_form.password_verify.errors%}<p class="help-block">{{e}}</p>{% endfor %}{% endif %}
            {{register_form.password_verify(class='form-control')}}
        </div>
        {{ register_form.register_submit(class="btn btn-primary") }}
    </form>
</div>


{%endblock%}