
{#侧边栏#}
{% macro sidebar(display_user,current_user) %}
{% import "macros.html" as main_macros %}
<div class ="col-sm-3">
    <div class = "row">
        <h2>{{display_user.username}}
            <small>{{display_user.bio | default('',true)}}</small></h2>
            {% if display_user.gender == 0 %}
                <svg width="14" height="16" viewBox="0 0 12 16" class="IconGraf-icon" style="height:16px;width:14px;" aria-hidden="true"><path d="M6 0C2.962 0 .5 2.462.5 5.5c0 2.69 1.932 4.93 4.485 5.407-.003.702.01 1.087.01 1.087H3C1.667 12 1.667 14 3 14s1.996-.006 1.996-.006v1c0 1.346 2.004 1.346 1.998 0-.006-1.346 0-1 0-1S7.658 14 8.997 14c1.34 0 1.34-2-.006-2.006H6.996s-.003-.548-.003-1.083C9.555 10.446 11.5 8.2 11.5 5.5 11.5 2.462 9.038 0 6 0zM2.25 5.55C2.25 3.48 3.93 1.8 6 1.8c2.07 0 3.75 1.68 3.75 3.75C9.75 7.62 8.07 9.3 6 9.3c-2.07 0-3.75-1.68-3.75-3.75z" fill-rule="evenodd"/></svg>
            {% else %}
                <svg viewBox="0 0 14 14" width="14" height="16" class="IconGraf-icon" style="height:16px;width:14px;" aria-hidden="true"><path d="M3.025 10.64c-1.367-1.366-1.367-3.582 0-4.95 1.367-1.366 3.583-1.366 4.95 0 1.367 1.368 1.367 3.584 0 4.95-1.367 1.368-3.583 1.368-4.95 0zm10.122-9.368c-.002-.414-.34-.75-.753-.753L8.322 0c-.413-.002-.746.33-.744.744.002.413.338.75.75.752l2.128.313c-.95.953-1.832 1.828-1.832 1.828-2.14-1.482-5.104-1.27-7.013.64-2.147 2.147-2.147 5.63 0 7.777 2.15 2.148 5.63 2.148 7.78 0 1.908-1.91 2.12-4.873.636-7.016l1.842-1.82.303 2.116c.003.414.34.75.753.753.413.002.746-.332.744-.745l-.52-4.073z" fill-rule="evenodd"/></svg>
            {% endif %}
    </div>
    <div class = "row">
        {{main_macros.follow_mark(display_user,current_user)}}<br /><br />
    </div>

    <div class ="row">
        <div class="panel panel-default">

            <div class="panel-body"><div class="IconGraf-iconWrapper"><svg viewBox="0 0 20 18" xmlns="http://www.w3.org/2000/svg" class="IconGraf-icon" style="height:15px;width:15px;" width="15" height="15" aria-hidden="true"><g><path d="M.718 7.024c-.718 0-.718.63-.718.63l.996 9.693c0 .703.718.65.718.65h1.45c.916 0 .847-.65.847-.65V7.793c-.09-.88-.853-.79-.846-.79l-2.446.02zm11.727-.05S13.2 5.396 13.6 2.89C13.765.03 11.55-.6 10.565.53c-1.014 1.232 0 2.056-4.45 5.83C5.336 6.965 5 8.01 5 8.997v6.998c-.016 1.104.49 2 1.99 2h7.586c2.097 0 2.86-1.416 2.86-1.416s2.178-5.402 2.346-5.91c1.047-3.516-1.95-3.704-1.95-3.704l-5.387.007z"/></g></svg>
            </div><strong>个人成就</strong></div>
            <table class="table">
                <tr><td>
                    获得了{{display_user.liked.all() | length}}个赞<br>{{display_user.count_task()}}
                </td></tr>

            </table>
        </div>

        <div class="panel panel-default">


                <table class="table table-bordered">
                    <tr class="text-center">
                        <td><a href="{{url_for('people.following',username=display_user.username)}}">关注了<br>{{display_user.following.all()| length}}</a></td>
                        <td><a href="{{url_for('people.follower',username=display_user.username)}}">关注者<br>{{display_user.follower.all()|length}}</a></td>
                    </tr>
                </table>


            {%if display_user.relation() %}
                <ul class="list-group">
                    <li class="list-group-item">
                        我关注的人中{{display_user.relation()|length}}人关注了{{ display_user.gender_text() }}<br>
                    {%for the_people in display_user.relation()%}
                        <a href="{{url_for('people.people',username=the_people.username)}}" title="{{the_people.username}}"><img src="{{the_people.get_avatar()}}" class="img-rounded" width="24" height="24" /></a>
                        {%endfor%}
                    </li>
                </ul>
            {% endif %}



        </div>
    </div>



    <div class = "row">
        © 2017 SimpleTask
    </div>
</div>

{% endmacro %}


{#展示people列表#}
{% macro people_list(peoples,current_user) %}
{% import "macros.html" as main_macros %}
    {% for people in peoples %}
        <div class="row">
            <div class = "col-xs-3 col-sm-2">
                <a href="{{url_for('people.people',username=people.username)}}">
                    <img class="img-responsive img-rounded" src="{{people.get_avatar()}}" />
                </a>
            </div>

            <div class = "col-xs-9 col-sm-10">
                <div class="pull-right">{{main_macros.follow_mark(people,current_user)}}</div>
                    <h4><a href="{{url_for('people.people',username=people.username)}}">{{ people.username }}</a></h4>
                    <p>{{people.bio |default('',True) }}</p>
                    <p class="text-muted">{{people.tasks.all()|length}}任务 / {{people.follower.all()| length}}关注者 / {{people.liked.all()|length}}赞</p>

            </div>

        </div>
        <hr />
    {% endfor %}


{% endmacro %}



{#展示task#}
{% macro show_task(current_user,tasks) %}
{% import "macros.html" as main_macros %}

    {%if tasks%}
        {% for task in tasks %}

            <div class="row">
                <h6>
                <a href="{{url_for('people.people',username=task.user.username)}}"><img src="{{task.user.get_avatar()}}" class="img-rounded" width="30" height="30" /></a>
                <a href="{{url_for('people.people',username=task.user.username)}}" >{{task.user.username}}</a> • <small>{{task.create_time}}</small></h6>
            </div>

            <div class="row">
                <h4>
                    {{ main_macros.task_like_mark(task,current_user) }}{#点赞模块#}{{main_macros.task_status_mark(task)}}<a href="{{url_for('task.page',task_id=task.id)}}"><strong>{{ task.title }}</strong></a>
                </h4>
            </div>

            <div class="row">
                    <small>计划完成时间：{{task.deadline}} {% if task.done_time %}| 完成时间：{{task.done_time}}{%endif%}
                        {% if task.is_overtime() %} | {{task.over_time() }}{%endif%}</small>
                    <p>{{ task.text }}</p>
            </div>

            <div class="row">
                <small>
                    {%if not task.comment_allowed%}评论已关闭{%else%}{{ task.comments.all() | length }}个评论{%endif%}
                </small>

            </div>

            <hr />
        {% endfor %}
    {%else%}
        <div class="row">
            当前没有任何Task
        </div>
    {%endif%}

{% endmacro %}


{#评论模块#}
{% macro task_comment(task,comments,comment_form) %}

    {% if task.comment_allowed %}
        <div class = "row">
            <form method="post">
                {{comment_form.hidden_tag()}}
                <div class="form-group">
                    {{comment_form.text.label}}{%if comment_form.text.errors%}{% for e in comment_form.text.errors%}<p class="help-block">{{e}}</p>{% endfor %}{% endif %}
                    {{comment_form.text(class='form-control')}}
                </div>
                <div class="form-group">
                    {{comment_form.submit(class='btn btn-warning')}}
                </div>
            </form>
        </div>

         <div class = "row">
             <table class="table table-hover">
                 <tbody>
        {% for comment in comments %}
                    <tr><td>
                        <p class="text-muted small"><img src="{{comment.user.get_avatar()}}" class="img-rounded" width="30" height="30" /> {{comment.user.username}} 发表于 {{comment.date}}：</p>
                        <p>{{comment.text}}</p>
                    </td></tr>
        {% endfor %}
                 </tbody>
             </table>
         </div>

    {% else %}

        <div class = "row">
            <p>评论已关闭</p>
        </div>

    {% endif %}

{% endmacro %}