{% macro people_sidebar(user,current_user) %}

    <div class ="col-sm-3">
        <div class = "row">
            <h2>{{user.username}}</h2>
            {% if current_user != user %}
            {% if current_user.check_following(user.id) %}
            <input type="button" class='btn btn-default btn-xs followbtn' value="取消关注" follow_id={{user.id}}>
            {%else%}
            <input type="button" class='btn btn-primary btn-xs followbtn' value="关注" follow_id={{user.id}}>
            {%endif%}
            {%endif%}

        </div>
        <div class = "row">
            {%if user.bio%}{{user.bio}}{%endif%}
        </div>
        <div class="row">
            {{user.count_task()}} <br />
            获得了{{user.liked.all() | length}}个赞
        </div>
        <div class="row">
            关注了{{user.following.all()| length}}，关注者{{user.follower.all()|length}}<br />
            {%if user.relation() %}我关注的{%for the_people in user.relation()%} {{the_people.username}}{%endfor%} 也关注了他{% endif %}

        </div>
        <div class = "row">
            © 2017 Simple Task
        </div>
    </div>
{% endmacro %}