{% extends "base.html" %}
{% block title %}{{display_user.username}} - {{super()}}{% endblock %}

{% block body %}

当前页面用户{{display_user.username}}
当前登录用户{{current_user}}
是否关注{{is_follow}}



<script type="text/javascript">
$(document).ready(function(){
  $("button").click(function(){
    $.get("{{url_for('people.follow',id=display_user.id)}}");
    parent.location.reload()
  });

});
</script>
{% if is_follow %}
<button class='btn btn-default btn-xs'>取消关注</button>
{%else%}
<button class='btn btn-primary btn-xs'>关注</button>
{%endif%}

{{display_user.other_follows()}}

{% endblock %}